@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

body {
	background-color: #25262d;
}

/* Vue.js */
	[v-cloak] {
		display: none;
	}

/* Print */
	/* @media print {
		#app-container {
			display: none;
		}
		#showPrint {
			display: block;
		}
	} */

/* App */
	#app-container {
		padding-top: 70px;
		padding-bottom: 70px;
	}

/* Navigation Bar */
	#app-nav {
		background-color: #84b6ff;
		position: fixed;
		top: 0;
		width: 100%;
		padding: 8px 0;
		z-index: 1;
	}
	#nav-text {
		font-size: 23px;
	}
	#search-input {
		padding: 5px 12px;
    	border: solid #9e9e9e;
    	border-width: 1px 0 1px 1px;
		border-radius: 6px 0 0 6px;
		outline: none;
	}
	#search-input::placeholder {
		color: #9e9e9e;
	}
	#search-button {
		background-color: whitesmoke;
    	border: solid #9e9e9e;
    	border-width: 1px 1px 1px 1px;
		border-radius: 0 6px 6px 0;
		outline: none;
	}
	#search-button:hover, #search-button:focus {
		background-color: rgb(238, 238, 238);
	}
	#search-button:active {
		background-color: rgb(212, 212, 212);
	}
	#search-button-icon {
		width: 16px;
		height: 16px;
		margin: 4px;
	}

/* Designs */
	.design {
		margin-top: 35px;
		padding: 0 30px;
	}
	.design-about {
		min-height: 260px;
		padding: 2px 30px 2px 6px;
		color: white;
		overflow: auto;
	}
	.design-about-title {
		font-size: 22px;
		color: #aecfff;
	}
	.design-about-text {
		font-size: 14px;
		margin: 20px 0;
	}
	.design-about-tags {
		font-size: 12px;
	}
	.design-about-tags-values {
		color: darkgrey;
	}
	.design-content {
		background-color: white;
		min-height: 260px;
		padding: 0;
		border: 1px solid rgb(0, 0, 0);
		border-radius: 16px;
		box-shadow: 0 0 6px gray inset;
	}
	hr {
		background-color: #E6E6E6;
		margin: 80px 0;
		box-shadow: 0 0 6px #0022ff;
	}

	/* x0001 */
		#design-content-x0001.design-content {
			padding: 50px 10px;
		}
		#design-content-x0001 .choice {
			width: 90%;
			margin: auto;
			border: 1px solid rgb(124, 124, 124);
			border-radius: 20px;
			box-shadow: 0 0 9px rgb(206, 206, 206);
			overflow: hidden;
			cursor: pointer;
			user-select: none;
			font-size: 15px;
			transition: all .15s;
		}
		#design-content-x0001 .choice:hover {
			border-color: rgb(156, 156, 156);
			box-shadow: none;
		}
		#design-content-x0001 .choice-header {
			padding: 12px 0;
			border-bottom: 1px solid gray;
			background: rgb(230, 230, 230);
		}
		#design-content-x0001 .choice-content {
			padding: 10px 14px;
		}
		#design-content-x0001 .choice-set, .choice-set:hover {
			border: 1px solid rgb(0, 189, 79) !important;
			box-shadow: 0 0 6px rgb(95, 253, 55) !important;
		}

	/* x0002 */
		#design-content-x0002.design-content {
			padding: 50px 0;
			background-color: #F4F7F9;
		}
		#design-content-x0002 .box {
			height: 160px;
			width: 160px;
			margin: 12px;
			background: #fff;
			border-radius: 5px;
			box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.1);
			text-align: center;
			cursor: pointer;
			transition: 200ms;
		}
		#design-content-x0002 .box:hover {
			box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.1);
			transform: scale(1.05);
		}

	/* x0003 */
		#design-content-x0003.design-content {
			padding: 100px 0;
			background-color: #F2F2C2;
		}
		#design-content-x0003 .social-box {
			border-style: solid;
			border-color: #4D4D4D;
			border-width: 4px 5px;
		}
		#design-content-x0003 .social-box-icon {
			float: left;
			height: 74px;
			width: 79px;
			border-left: 5px solid #4D4D4D;
			user-select: none;
		}
		#design-content-x0003 .social-box-icon:first-child {
			width: 74px;
			border-left: none;
		}
		#design-content-x0003 .social-box-icon img {
			height: 38px;
			width: 38px;
			margin: 19px;
		}
		#design-content-x0003 .social-box-icon-raspi {
			background-color: rgba(197, 26, 74, 0.74);
		}
		#design-content-x0003 .social-box-icon-xbox {
			background-color: rgba(16, 124, 16, 0.74);
		}
		#design-content-x0003 .social-box-icon-jquery {
			background-color: rgba(7, 102, 171, 0.74);
		}
		#design-content-x0003 .social-box-icon-amazon {
			background-color: rgba(255, 153, 0, 0.74);
		}
		#design-content-x0003 .social-box-icon-tor {
			background-color: rgba(126, 71, 152, 0.74);
		}

	/* x0004 */
		#design-content-x0004.design-content {
			padding: 90px 0;
		}
		#design-content-x0004 .btn-retro {
			background-color: #FBA200;
			padding: 3px 28px;
			margin: 10px;
			border: 2.5px solid rgb(58, 39, 5);
			border-radius: 8px;
			box-shadow: 7px 7px 1px #220837;
			font-size: 17px;
			font-weight: 500;
			outline: none;
			user-select: none;
			transition: .15s;
		}
		#design-content-x0004 .btn-retro:hover {
			box-shadow: 2px 2px 1px #220837;
		}

	/* x0005 */
		#design-content-x0005.design-content {
			padding: 100px 0;
			background-color: #009688;
		}
		#design-content-x0005 .btn-gamey {
			border-radius: 4px;
			max-width: 155px;
			width: 100%;
			padding: 10px 30px;
			margin: 10px;
			background-color: #f2cc21;
			border: 0;
			border-top: 2px solid #ffec96;
			border-bottom: 2px solid #d99f13;
			color: #1f4c8d;
			font-size: 13px;
			font-weight: 700;
			outline: none;
			cursor: pointer;
			user-select: none;
			text-transform: uppercase;
			transition: all .1s;
		}
		#design-content-x0005 .btn-gamey:hover {
			transform: scale(1.1);
		}

	/* x0006 */
		#design-content-x0006.design-content {
			padding: 60px 0;
		}
		#design-content-x0006 .hover-on-hover {
			position: relative;
			top: 0;
			left: 0;
			width: 150px;
			height: 150px;
			margin: 10px;
			background-color: #BBDEBD;
			box-shadow: none;
			border: 1px solid gray;
			border-radius: 6px;
			text-align: center;
			transition: all .15s;
		}
		#design-content-x0006 .hover-on-hover:hover {
			top: -4px;
			left: -4px;
			box-shadow: 4px 4px 0 #96B297;
		}

	/* x0007 */
		#design-content-x0007.design-content {
			padding: 80px 0;
		}
		#design-content-x0007 .status-marker {
			width: 140px;
			height: 80px;
			margin: 10px;
			border: 2px solid #e0e0e0;
			border-radius: 12px;
			color: rgb(134, 134, 134);
			text-align: center;
			transition: all .15s;
		}
		#design-content-x0007 .status-marker-icon {
			position: relative;
			top: -22px;
			width: 42px;
			height: 42px;
			margin: auto;
			padding: 6px 5px;
			border: 2px solid #949494;
			border-radius: 30px;
			background-color: white;
		}
		#design-content-x0007 .status-marker-text {
			position: relative;
			top: -17px;
			font-size: 21px;
		}
		#design-content-x0007 .status-marker-passed {
			color: white;
			background-color: #7CBB62;
			border: 2px solid rgb(85, 129, 66);
		}
		#design-content-x0007 .status-marker-passed .status-marker-icon {
			border: 2px solid rgb(85, 129, 66);
		}
		#design-content-x0007 .status-marker-failed {
			color: white;
			background-color: #DC5A5C;
			border: 2px solid rgb(151, 59, 61);
		}
		#design-content-x0007 .status-marker-failed .status-marker-icon {
			border: 2px solid rgb(151, 59, 61);
		}