@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

body {
	background-color: #25262d;
}

/* Vue.js */
	[v-cloak] {
		display: none;
	}

/* Print */
	/* @media print {
		#app-container {
			display: none;
		}
		#showPrint {
			display: block;
		}
	} */

/* App */
	#app-container {
		padding-top: 70px;
		padding-bottom: 70px;
	}

/* Navigation Bar */
	#app-nav {
		background-color: #84b6ff;
		position: fixed;
		top: 0;
		width: 100%;
		padding: 8px 0;
		z-index: 1;
	}
	#nav-text {
		font-size: 23px;
	}
	#search-input {
		padding: 5px 12px;
    	border: solid #9e9e9e;
    	border-width: 1px 0 1px 1px;
		border-radius: 6px 0 0 6px;
		outline: none;
	}
	#search-input::placeholder {
		color: #9e9e9e;
	}
	#search-button {
		background-color: whitesmoke;
    	border: solid #9e9e9e;
    	border-width: 1px 1px 1px 1px;
		border-radius: 0 6px 6px 0;
		outline: none;
	}
	#search-button:hover, #search-button:focus {
		background-color: rgb(238, 238, 238);
	}
	#search-button:active {
		background-color: rgb(212, 212, 212);
	}
	#search-button-icon {
		width: 16px;
		height: 16px;
		margin: 4px;
	}

/* Designs */
	.design {
		margin-top: 35px;
		padding: 0 30px;
	}
	.design-about {
		min-height: 260px;
		padding: 2px 30px 2px 6px;
		color: white;
		overflow: auto;
	}
	.design-about-title {
		font-size: 22px;
		color: #aecfff;
	}
	.design-about-text {
		font-size: 14px;
		margin: 20px 0;
	}
	.design-about-tags {
		font-size: 12px;
	}
	.design-about-tags-values {
		color: darkgrey;
	}
	.design-content {
		background-color: white;
		min-height: 260px;
		padding: 0;
		border: 1px solid rgb(0, 0, 0);
		border-radius: 16px;
		box-shadow: 0 0 6px gray inset;
	}
	hr {
		background-color: #E6E6E6;
		margin: 80px 0;
		box-shadow: 0 0 6px #0022ff;
	}

	/* x0001 */
		#design-content-x0001.design-content {
			padding: 50px 10px;
		}
		#design-content-x0001 .choice {
			width: 90%;
			margin: auto;
			border: 1px solid rgb(124, 124, 124);
			border-radius: 8px;
			box-shadow: 0 0 5px rgb(206, 206, 206);
			overflow: hidden;
			cursor: pointer;
			user-select: none;
			font-size: 15px;
			transition: all .15s;
		}
		#design-content-x0001 .choice:hover {
			border-color: rgb(156, 156, 156);
			box-shadow: none;
		}
		#design-content-x0001 .choice-header {
			padding: 12px 0;
			border-bottom: 1px solid gray;
			background: rgb(230, 230, 230);
		}
		#design-content-x0001 .choice-content {
			padding: 10px 14px;
		}
		#design-content-x0001 .choice-set, .choice-set:hover {
			background-color: #FAFCF6;
			border: 1px solid #93C354 !important;
			box-shadow: 0 0 3px #93C354 !important;
		}

	/* x0002 */
		#design-content-x0002.design-content {
			padding: 50px 0;
			background-color: #F4F7F9;
		}
		#design-content-x0002 .box {
			height: 160px;
			width: 160px;
			margin: 12px;
			background: #fff;
			border-radius: 5px;
			box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.1);
			text-align: center;
			cursor: pointer;
			transition: 200ms;
		}
		#design-content-x0002 .box:hover {
			box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.1);
			transform: scale(1.05);
		}

	/* x0003 */
		#design-content-x0003.design-content {
			padding: 100px 0;
			background-color: #F2F2C2;
		}
		#design-content-x0003 .social-box {
			border-style: solid;
			border-color: #4D4D4D;
			border-width: 4px 5px;
		}
		#design-content-x0003 .social-box-icon {
			float: left;
			height: 74px;
			width: 79px;
			border-left: 5px solid #4D4D4D;
			user-select: none;
		}
		#design-content-x0003 .social-box-icon:first-child {
			width: 74px;
			border-left: none;
		}
		#design-content-x0003 .social-box-icon img {
			height: 38px;
			width: 38px;
			margin: 19px;
		}
		#design-content-x0003 .social-box-icon-raspi {
			background-color: rgba(197, 26, 74, 0.74);
		}
		#design-content-x0003 .social-box-icon-xbox {
			background-color: rgba(16, 124, 16, 0.74);
		}
		#design-content-x0003 .social-box-icon-jquery {
			background-color: rgba(7, 102, 171, 0.74);
		}
		#design-content-x0003 .social-box-icon-amazon {
			background-color: rgba(255, 153, 0, 0.74);
		}
		#design-content-x0003 .social-box-icon-tor {
			background-color: rgba(126, 71, 152, 0.74);
		}

	/* x0004 */
		#design-content-x0004.design-content {
			padding: 90px 0;
		}
		#design-content-x0004 .btn-retro {
			background-color: #FBA200;
			padding: 3px 28px;
			margin: 10px;
			border: 2.5px solid rgb(58, 39, 5);
			border-radius: 8px;
			box-shadow: 7px 7px 1px #220837;
			font-size: 17px;
			font-weight: 500;
			outline: none;
			user-select: none;
			transition: .15s;
		}
		#design-content-x0004 .btn-retro:hover {
			box-shadow: 2px 2px 1px #220837;
		}

	/* x0005 */
		#design-content-x0005.design-content {
			padding: 100px 0;
			background-color: #009688;
		}
		#design-content-x0005 .btn-gamey {
			border-radius: 4px;
			max-width: 155px;
			width: 100%;
			padding: 10px 30px;
			margin: 10px;
			background-color: #f2cc21;
			border: 0;
			border-top: 2px solid #ffec96;
			border-bottom: 2px solid #d99f13;
			color: #1f4c8d;
			font-size: 13px;
			font-weight: 700;
			outline: none;
			cursor: pointer;
			user-select: none;
			text-transform: uppercase;
			transition: all .1s;
		}
		#design-content-x0005 .btn-gamey:hover {
			transform: scale(1.05);
		}

	/* x0006 */
		#design-content-x0006.design-content {
			padding: 60px 0;
		}
		#design-content-x0006 .hover-on-hover {
			position: relative;
			top: 0;
			left: 0;
			width: 150px;
			height: 150px;
			margin: 10px;
			background-color: #BBDEBD;
			box-shadow: none;
			border: 1px solid gray;
			border-radius: 6px;
			text-align: center;
			transition: all .15s;
		}
		#design-content-x0006 .hover-on-hover:hover {
			top: -4px;
			left: -4px;
			box-shadow: 4px 4px 0 #96B297;
		}

	/* x0007 */
		#design-content-x0007.design-content {
			padding: 80px 0;
		}
		#design-content-x0007 .status-marker {
			width: 140px;
			height: 80px;
			margin: 10px;
			border: 3px solid #e0e0e0;
			border-radius: 12px;
			color: rgb(134, 134, 134);
			text-align: center;
			transition: all .15s;
		}
		#design-content-x0007 .status-marker-icon {
			position: relative;
			top: -22px;
			width: 42px;
			height: 42px;
			margin: auto;
			padding: 6px 5px;
			border: 3px solid #949494;
			border-radius: 30px;
			background-color: white;
		}
		#design-content-x0007 .status-marker-text {
			position: relative;
			top: -17px;
			font-size: 21px;
		}
		#design-content-x0007 .status-marker-passed {
			color: white;
			background-color: #7CBB62;
			border: 3px solid rgb(85, 129, 66);
		}
		#design-content-x0007 .status-marker-passed .status-marker-icon {
			border: 3px solid rgb(85, 129, 66);
		}
		#design-content-x0007 .status-marker-failed {
			color: white;
			background-color: #DC5A5C;
			border: 3px solid rgb(151, 59, 61);
		}
		#design-content-x0007 .status-marker-failed .status-marker-icon {
			border: 3px solid rgb(151, 59, 61);
		}

	/* x0008 */
		#design-content-x0008.design-content {
			padding: 80px 0;
			background-color: #f3f3f3;
		}
		#design-content-x0008 .task {
			width: 120px;
			height: 130px;
			margin: 14px;
			border: 2px solid #e0e0e0;
			border-radius: 8px;
			background-color: white;
			cursor: pointer;
			user-select: none;
		}
		#design-content-x0008 .task-complete {
			border: 2px solid #5fc885;
			box-shadow: 0 0 2px #5fc885;
		}
		#design-content-x0008 .task-pending {
			border: 2px solid #5fc885;
			box-shadow: 0 0 2px #5fc885;
		}
		#design-content-x0008 .task-marker-complete {
			display: none;
			position: relative;
			top: -10px;
			left: -10px;
			height: 32px;
			width: 32px;
			background-color: white;
			border: 2px solid #5fc885;
			border-radius: 20px;
			box-shadow: 0 0 2px #5fc885;
		}
		#design-content-x0008 .task-marker-complete img {
			display: block;
			width: 18px;
			height: 18px;
			margin: 6px auto;
		}
		#design-content-x0008 .task-complete .task-marker-complete {
			display: block;
		}
		#design-content-x0008 .task-icon {
			margin-top: 14px;
		}
		#design-content-x0008 .task-complete .task-icon {
			margin-top: -18px;
		}
		#design-content-x0008 .task-icon img {
			display: block;
			width: 40px;
			margin: auto;
		}
		#design-content-x0008 .task-label {
			text-align: center;
			padding: 6px;
			font-weight: 500;
		}
		#design-content-x0008 .task-progress progress {
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			height: 8px;
			width: 70%;
			margin: 6px auto 0 auto;
			display: block;
		}
		#design-content-x0008 .task-progress progress::-webkit-progress-bar {
			border-radius: 10px;
		}
		#design-content-x0008 .task-progress progress::-webkit-progress-value {
			background-color: #5FC885;
			border-radius: 10px;
		}

	/* x0009 */
		@keyframes v-wave {
			0% {
				transform: translateY(0)
			}
			25% {
				transform: translateY(0.12em)
			}
			50% {
				transform: translateY(0)
			}
			75% {
				transform: translateY(-0.12em)
			}
			100% {
				transform: translateY(0)
			}
		}

		#design-content-x0009.design-content {
			padding: 105px 0;
		}
		#design-content-x0009 .text-wavey {
			color: rgb(0, 156, 246);
			font-weight: 500;
		}
		#design-content-x0009 .text-wavey-letter {
			display: inline-block;
			animation: 0.5s linear infinite v-wave;
		}
		#design-content-x0009 .text-wavey:hover .text-wavey-letter {
			animation: none;
		}
		#design-content-x0009 .text-wavey-letter:nth-child(3n+1) {
			animation-delay: 0.1s;
		}
		#design-content-x0009 .text-wavey-letter:nth-child(3n+2) {
			animation-delay: 0.25s;
		}
		#design-content-x0009 .text-wavey-letter:nth-child(3n+3) {
			animation-delay: 0.4s;
		}
		#design-content-x0009 .text-wavey-letter-everyother {
			display: inline-block;
			animation: 0.5s linear infinite v-wave;
		}
		#design-content-x0009 .text-wavey:hover .text-wavey-letter-everyother {
			animation: none;
		}
		#design-content-x0009 .text-wavey-letter-everyother:nth-child(even) {
			animation-delay: 0.1s;
		}
		#design-content-x0009 .text-wavey-letter-everyother:nth-child(odd) {
			animation-delay: 0.2s;
		}

	/* x0010 */
		#design-content-x0010.design-content {
			padding: 105px 0;
		}
		#design-content-x0010 .item {
			width: 120px;
			height: 120px;
			margin: 0 20px;
			border-radius: 120px;
			/* background-color: #ECECEC; */
			cursor: pointer;
			transition: all .175s;
		}
		#design-content-x0010 .item:hover:nth-child(3n+1) {
			background-color: #5fc885;
		}
		#design-content-x0010 .item:hover:nth-child(3n+2) {
			background-color: #5f69c8;
		}
		#design-content-x0010 .item:hover:nth-child(3n+3) {
			background-color: #c8975f;
		}
		#design-content-x0010 .item-inner {
			width: 106px;
			height: 106px;
			margin: 7px;
			border-radius: 106px;
			overflow: hidden;
		}

	/* x0011 */
		#design-content-x0011.design-content {
			padding: 60px 0;
		}
		#design-content-x0011 .box {
			background-color: #E7F0FE;
			border: 1px solid lightsteelblue;
			border-radius: 8px;
			overflow: hidden;
		}
		#design-content-x0011 .box .row {
			margin: 0;
		}
		#design-content-x0011 .item {
			height: 80px;
			width: 80px;
			padding: 8px;
			border: 1px solid #D8E7FF;
		}
		#design-content-x0011 .item-display {
			padding: 16px;
			border: 1px solid #E7F0FE;
			border-radius: 10px;
			box-shadow: 0 0 2px #E7F0FE;
			cursor: pointer;
			transition: .1s all;
		}
		#design-content-x0011 .item-display:hover {
			background-color: rgb(220, 233, 253);
			border: 1px solid #cfe1ff;
		}
		#design-content-x0011 .item svg {
			width: 28px;
			height: 28px;
			color: gray;
		}
		#design-content-x0011 .item-display-selected {
			background-color: #F3F8FE;
			border: 1px solid #2C7AFF;
			box-shadow: 0 0 2px #2C7AFF;
		}
		#design-content-x0011 .item-display-selected:hover {
			background-color: #F3F8FE;
		}
		#design-content-x0011 .item-display-selected svg {
			color: #313131;
		}

	/* x0012 */
		#design-content-x0012.design-content {
			padding: 40px 10px 10px 10px;
		}
		#design-content-x0012 .input-label-format {
			position: absolute;
			top: -14px;
			left: 23px;
			z-index: 1;
			padding: 0px 8px;
			margin-bottom: 0;
			background-color: white;
			color: #828282;
			font-size: 16px;
			border-radius: 10px;
			user-select: none;
			transition: all .075s;
			pointer-events: none;
		}
		#design-content-x0012 .input-label-format-null {
			top: 10px;
			font-size: 17px;
		}
		#design-content-x0012 .input-format:focus ~ .input-label-format-null,
		#design-content-x0012 .input-format-select:focus ~ .input-label-format-null,
		#design-content-x0012 .input-format-textarea:focus ~ .input-label-format-null {
			top: -14px;
			font-size: 16px;
		}
		#design-content-x0012 .input-label-format-required:after {
			color: red;
			content: " *";
		}
		#design-content-x0012 .input-format, #design-content-x0012 .input-format-select, #design-content-x0012 .input-format-textarea {
			-webkit-appearance: none;
			font-size: 19px;
			min-height: 42px;
			border-radius: 6px;
			border: 1px solid #c2c7cb;
			margin-bottom: 24px;
			transition: all .2s;
		}
		#design-content-x0012 .input-format, #design-content-x0012 .input-format-textarea {
			padding: 8px 18px;
		}
		#design-content-x0012 .input-format-select {
			padding: 7px 14px;
		}
		#design-content-x0012 .input-format-select option {
			background-color: #eaf4ff;
		}
		#design-content-x0012 .input-format-textarea {
			resize: none;
		}
		#design-content-x0012 .input-format:focus, #design-content-x0012 .input-format-select:focus, #design-content-x0012 .input-format-textarea:focus {
			border: 1px solid #288079;
			box-shadow: 1px 1px 2px darkgrey;
			outline: none;
		}
		#design-content-x0012 .input-label-format-set {
			margin-bottom: 4px;
			padding-top: 8px;
			font-size: 18px;
			color: #828282;
		}
		@media handheld, only screen and (min-width: 768px) and (max-width: 991px) {
			#design-content-x0012 .input-label-format-set {
				padding-top: 0;
				margin-top: -8px;
			}
		}
		#design-content-x0012 .input-format-radio {
			opacity: 0;
		}
		#design-content-x0012 .input-label-format-radio {
			padding: 8px 30px;
			margin: 4px;
			background-color: white;
			border: 1px solid #c2c7cb;
			border-radius: 6px;
			cursor: pointer;
			outline: none;
			user-select: none;
			transition: all .1s;
		}
		#design-content-x0012 .input-format-radio:focus + .input-label-format-radio {
			border: 1px solid #288079;
			outline: none;
		}
		#design-content-x0012 .input-format-radio:checked + .input-label-format-radio {
			background-color: #4b6679;
			color: white;
			border: 1px solid #288079;
			box-shadow: 1px 1px 2px darkgrey;
		}
		#design-content-x0012 input[type=radio] {
			width: 0;
			height: 0;
			visibility: visible;
			opacity: 0;
		}